# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [3]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [4]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep='\t')

### Step 4. How many products cost more than $10.00?

In [5]:
chipo.item_price = chipo.item_price.str.replace('$', '').astype('float')

In [6]:
chipo[chipo.item_price > 10.00][['item_name', 'item_price']].value_counts().reset_index().sort_values(by='item_price', ascending=False)

                       item_name  item_price  count
93  Chips and Fresh Tomato Salsa       44.25      1
81                 Carnitas Bowl       35.25      1
57               Chicken Burrito       35.00      2
63                Veggie Burrito       33.75      1
87                  Chicken Bowl       32.94      1
..                           ...         ...    ...
5                   Chicken Bowl       10.98     42
4                Chicken Burrito       10.98     43
32               Chicken Burrito       10.58      4
85                  Chicken Bowl       10.58      1
77                 Bottled Water       10.50      1

[97 rows x 3 columns]

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [ ]:
chipo[['item_name', 'item_price']].value_counts()

item_name              item_price
Chips and Guacamole    4.45          349
Chicken Bowl           8.75          313
Canned Soft Drink      1.25          264
Chicken Burrito        8.75          230
Chicken Bowl           11.25         228
                                    ...
Steak Bowl             17.98           1
                       26.07           1
Carnitas Salad         8.99            1
Carnitas Crispy Tacos  17.98           1
Veggie Soft Tacos      16.98           1
Name: count, Length: 209, dtype: int64

### Step 6. Sort by the name of the item

In [27]:
chipo[['item_name', 'item_price']].reset_index().sort_values(by='item_name', ascending=True)

      index          item_name  item_price
3389   3389  6 Pack Soft Drink       12.98
341     341  6 Pack Soft Drink        6.49
1849   1849  6 Pack Soft Drink        6.49
1860   1860  6 Pack Soft Drink        6.49
2713   2713  6 Pack Soft Drink        6.49
...     ...                ...         ...
2384   2384  Veggie Soft Tacos        8.75
781     781  Veggie Soft Tacos        8.75
2851   2851  Veggie Soft Tacos        8.49
1699   1699  Veggie Soft Tacos       11.25
1395   1395  Veggie Soft Tacos        8.49

[4622 rows x 3 columns]

### Step 7. What was the quantity of the most expensive item ordered?

In [45]:
chipo[['quantity', 'item_price', 'item_name']].value_counts().reset_index().sort_values(by='item_price', ascending=False).head(1)

     quantity  item_price                     item_name  count
208        15       44.25  Chips and Fresh Tomato Salsa      1

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [47]:
chipo[chipo.item_name == 'Veggie Salad Bowl'].shape[0]

18

### Step 9. How many times did someone order more than one Canned Soda?

In [50]:
chipo[(chipo.item_name == 'Canned Soda') & (chipo.quantity > 1)].shape[0]

20